.ProductList .Product {
  
  width: 320px;
  padding-top: 25px;
  align-items: center;
  flex-wrap: wrap;
  
} 
.Product {
  display: inline-flex;
  flex-direction: column;
  
  margin-left: 100px;
}

.ProductList .Product .hover-effect-btn img {
  width: 280px;
  height: 250px;
  margin: 0 auto;
  
}
.product-name .title{
  
  justify-content: center;
  
}
.hover-effect-btn {
  position: relative;
  
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 280px;
  height: 250px;
  background: rgba(6, 6, 6, 0.5); 
  transition: background 0.5s ease;
  opacity: 0;
}
.hover-effect-btn:hover .overlay {
  display: block;
  opacity: 1;
  
}
.title {
  display: flex;
  flex-direction: column;
  font-family: "Bruno Ace SC", cursive;
  opacity: 0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30%; /* Отступ сверху */
  
  text-align: center;
  text-transform: uppercase; /* Заглавные буквы */
  color: white; /* Цвет заголовка */
  z-index: 1;
  transition: top 0.5s ease;
  
}
.Product .product-name{
  font-size: 16px;
  
}
.Product .product-price{
  color: tomato;
  padding-top: 10px;
  font-size: 16px;
}
.hover-effect-btn:hover .title {
 
  opacity: 1;
}
.button {
  position: absolute;
  width: 100%;
  left:0;
  top: 70%; /* Отступ сверху */
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}
