.ProductList .Product {
  
  width: 320px;
  padding-top: 25px;
  align-items: center;
  flex-wrap: wrap;
  
} 
.Product {
  display: inline-flex;
  flex-direction: column;
  
  margin-left: 100px;
}

.ProductList .Product .hover-effect-btn img {
  width: 280px;
  height: 250px;
  margin: 0 auto;
  
}
.product-name .title{
  
  justify-content: center;
  
}
