.CartList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.CartList .CartItem img {
  width: 320px;
}

.CartList .CartItem {
  padding: 40px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  flex-wrap: wrap;
  font-family: "Bruno Ace SC", cursive;

  transition: 0.5s;
}
.CartList .CartItem:hover {
  box-shadow: 10px 5px 5px 5px rgb(57, 88, 84);
}

.CartList input {
  border: 1px solid #527c82;
  
  padding: 5px 8px;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 25px;
  background-color: transparent;
  margin-bottom: 40px;
  max-width: 20px;
}

.CartList a {
  color: #527c82;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  width: 10%;
}

.CartList .product-price {
  color: #527c82;

  font-size: 16px;
  padding: 40px;
  width: 20%;
}




.CartItem input {
  max-width: 50px;
  outline: none;
  cursor: pointer;
  color: #527c82;
  font-size: 14px;
  max-width: 10%;
}



.line-btn {
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin: 3em 0; /* Отступ кнопок */
  color: tomato;

  transition: all 1s;
  position: relative;
  font-family: "Bruno Ace SC", cursive;
}
.line-btn span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 12px;
}
.line-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid tomato;
}
.line-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid tomato;
}
.line-btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(249, 60, 7, 0);
}
.line-btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(250, 22, 6, 0);
}
.line-btn:hover span {
  color: red;
  opacity: 0.5;
  font-size: 10px;
}
