.OrderForm form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(27, 117, 131);
  margin: 0 auto;
  padding: 15px ;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px 5px rgb(57, 88, 84);
  color: rgb(130, 125, 125);
  width: 800px;
}
.OrderForm label{
  padding: 10px;
  font-family: "Bruno Ace SC", cursive;
}
.OrderForm{
  align-items: center;
}
.OrderForm:hover .OrderForm{
  border: none;

}

