

.neon-btn {
  box-sizing: border-box;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background-color: transparent;
border: 2px solid #e74c3c;
cursor: pointer;
font-size: 0.550em;
line-height: 1;
margin: 15px;
font-family: "Bruno Ace SC", cursive;
padding: 10px 30px;
text-decoration: none;
text-align: center;
text-transform: uppercase;
border-color: #527c82;
color: #fff;
box-shadow: 0 0 40px 40px #527c82 inset, 0 0 0 0 #527c82;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
}
.neon-btn:hover {
color: #527c82;
box-shadow: 0 0 10px 0 #527c82 inset, 0 0 10px 4px #527c82;
}
.neon-btn:hover, .neon-btn:focus {
outline: 0;
}
   