.Layout {
  max-width: auto;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  
}
.Layout .layout-nav{
 display: flex;
 justify-content: space-around;
  
}
.Layout .layout-nav-cart{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}
.nav-sing{
  display: flex;
  
}
.Layout aside {
  
  flex: 0% 0 0;
}
.Layout main {
  
  flex: 80% 1 1;
  height: auto;
}
.Layout footer {
  
  
  flex: 100% 0 0;
  
}

@media (max-width: 950px) {
  .Layout header .nav > .NavBar{
    display: none;
  }
  .Layout {
    width: auto;
      
    }
    
    .Layout header{
      width: auto;
      
    }
    
    
    .Layout .layout-nav{
      width: auto;
      flex-basis: 85%;
      display: flex;
      
      
    }
    .Layout main{
      flex:100% 1 1;
    }
    .Layout footer{
      flex:100% 0;
    }
    
}
@media screen and (max-width: 1200px){
  .Layout {
  width: auto;
    
  }
  
  .Layout .layout-nav{
    width: auto;
    flex-basis: 85%;
  }
  .Layout main{
    flex:100% 1 1;
  }
  .Layout footer{
    flex:100% 0;
  }
}
@media (max-width: 550px) {
  .Layout header .nav > .NavBar{
    display: none;
  }
  .Layout {
    width: auto;
      
    }
    
    .Layout header{
      width: auto;
      
    }
    
    
    .Layout .layout-nav{
      width: auto;
      flex-basis: 85%;
      display: flex;
      
      
    }
    .Layout main{
      flex:100% 1 1;
    }
    .Layout footer{
      flex:100% 0;
    }
    
}
@media screen and (max-width: 550px){
  .Layout {
  width: auto;
    
  }
  
  .Layout .layout-nav{
    width: auto;
    flex-basis: 85%;
  }
  .Layout main{
    flex:100% 1 1;
  }
  .Layout footer{
    flex:100% 0;
  }
}