.about-text h1{
  padding-top: 50px;
  padding-bottom: 30px;
}
.about-el img{
  width: 400px;
  overflow: hidden;
  transition: 3s;
  }
  .about-el{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .electric-img{
    overflow: hidden;
    
  }
  .about-el:hover img{
    transform: scale(1.2);
  }