.home-photo-categorii {
  display: flex;
  justify-content: space-between;
}
.change-photos .change-photo img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.change-photos .change-photo:nth-of-type(2) {
  display: none;
}

.change-photos:hover .change-photo:nth-of-type(1) {
  display: none;
}

.change-photos:hover .change-photo:nth-of-type(2) {
  display: block;
}
.change-photos:hover {
  cursor: pointer;
}
.home-header {
  padding-top: 100px;
  padding-bottom: 50px;
}
.Home .home-header .home-header-img {
  overflow: hidden;
  object-fit: cover;
  
}
.Home .home-header .home-header-img img {
  width: 100%;
  height: 70vh;
  position: relative;
  display: block;
  transition: 5s;
  
}
.Home-welcome {
  color: #527c82;
  text-align: center;
  font-size: 30px;
}

.Home .home-header .home-header-img img:hover {
  transform: scale(1.2);
}

.Home .home-header .home-header-text h1 {
  margin-left: 50px;
  width: 650px;
  color: white;
}
.Home .home-header h1 {
  position: absolute;
  top: 1020px;
  text-align: center;
  
  font-family: "Bruno Ace SC", cursive;
  font-size: 26px;
}
.Home .home-welcome {
  width: auto;
  align-items: center;
  overflow: hidden;
  padding-bottom: 20px;
  
}

.Home .home-welcome .home-welcome-img img {
  width: 100%;
  height: 50vh;
  position: relative;
  display: block;
  transition: 5s;
}

.Home .home-welcome h1 {
  position: absolute;
  top: 150px;
  margin-left: 200px;
  color: white;

  transition: 2s;
  font-family: "Bruno Ace SC", cursive;
  font-size: 48px;
}
.Home .home-welcome:hover h1 {
  transform: scale(1.2);
}

@media screen and (max-width: 1280px) {
  .Home .home-header .home-header-img img {
    width: 100%;
    height: 70vh;
    position: relative;
    display: block;
    transition: 5s;
  }
  .Home .home-header{
    width: auto;
  }
  .Home .home-welcome {
    width: auto;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
    
  }

  
}
@media screen and (max-width: 1200px) {
  
  .Home .home-header .home-header-img img {
    width: 100%;
    height: 60vh;
    position: relative;
    display: block;
    transition: 5s;
  }
  .Home .home-header{
    width: auto;
  }
  .Home .home-welcome {
    width: auto;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
    
  }
  
  .Home .home-header h1{
    font-size: 24px;
    top:900px;
  }

  .change-photos .change-photo img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  
  .Home .home-welcome h1{
    font-size: 36px;
    
  }
  .home-photo-categorii{
    width: auto;
  }
  
  .castom-btn .btn-12{
    width: 80%;
  }
}