.NavToggle {
  display: none;
  padding: 0;
  margin-right: 560px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  
}
.NavToggle .line {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #0a6362;
}
@media (max-width: 950px) {
  .NavToggle {
    display: inline-block;
  }
}
@media (max-width: 550px){
  .NavToggle{
    margin-right: 200px;
  }
}