.Footer {
  font-family: "Bruno Ace SC", cursive;
  background-color: #527c82;
  width: auto;
  
  
}
.Footer a{
  padding: 10px;
  transition: 1.5s;
  font-size: 12px;
  color: rgb(255, 252, 252);
}
.Footer .footer-page {
  display: inline-flex;
  padding: 10px;
  margin: 15px;
}
.footer-pages {
  display: flex;
  flex-direction: column;
  padding: 10px 35px;
}
.Footer a:hover{
  color: black;
}
.nik{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  
}

