* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 974px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
.About .about-header {
  width: auto;
  align-items: center;

  padding-bottom: 10px;
  display: inline-block;
}
.Home .home-header .home-header-img {
  overflow: hidden;
}
.Home .home-header .home-header-img img {
  width: 100%;
  height: 70vh;
  position: relative;
  display: block;
  transition: 5s;
}
.About .about-main .about-main-text h1 {
  width: 600px;
}
.About .about-main h1 {
  position: absolute;
  top: 700px;
  text-align: center;
  color: rgb(2, 1, 1);
  opacity: 0;
  transition: 2s;
  font-family: "Bruno Ace SC", cursive;
  font-size: 24px;
}
.Home .home-header .home-header-img img:hover {
  transform: scale(1.2);
}
.About .about-main {
  width: auto;
  align-items: center;
  overflow: hidden;
  padding-bottom: 10px;
}

.About .about-main .about-main-img img {
  width: 100%;
  height: 80vh;
  position: relative;
  display: block;
  transition: 5s;
}
.Home .home-header .home-header-text h1 {
  margin-left: 810px;
  width: 400px;
  color: white;
}
.Home .home-header h1 {
  position: absolute;
  top: 500px;
  text-align: center;
  color: #527c82;
  font-family: "Bruno Ace SC", cursive;
  font-size: 24px;
}
.About .about-main h1:hover {
  opacity: 1;
}

.Home-welcome {
  color: #527c82;
  text-align: center;
  font-size: 30px;
}

.Product a {
  display: inline;
  padding: 0 50px;
  width: 50px;
  text-decoration: none;
}
.Product nav,
scroll-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.Product nav {
  width: auto;
  padding: 5px;
}
.Product scroll-container {
  padding-top: 100px;
  display: block;
  width: auto;
  height: 70vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.Product scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
  font-size: 18px;
}

.Home .home-welcome {
  width: auto;
  align-items: center;
  overflow: hidden;
  padding-bottom: 20px;
}

.Home .home-welcome .home-welcome-img img {
  width: 100%;
  height: 50vh;
  position: relative;
  display: block;
  transition: 5s;
}

.Home .home-welcome h1 {
  position: absolute;
  top: 150px;
  margin-left: 200px;
  color: white;

  transition: 2s;
  font-family: "Bruno Ace SC", cursive;
  font-size: 48px;
}
.Home .home-welcome:hover h1 {
  transform: scale(1.2);
}


.Product .product-name h1{
  position: absolute;
  top: 10%;
  color: rgb(251, 245, 245);
  font-size: 48px;
  font-family: "Bruno Ace SC", cursive;
  margin-left: 70%;
  opacity: 0;
  
  transition: 2s;
}



 