.Nav ul {
  display: flex;

  list-style-type: none;
  margin: 0;
}
.Nav ul li a {
  color: #6f6d6d;
  margin: 15px;
  display: block;
  text-decoration: none;
  transition: 1s;
}
.Nav {
  color: #6f6d6d;
  font-size: 18px;
  font-weight: 700;
  font-family: "Bruno Ace SC", cursive;
}
.Nav a:hover {
  color: #0b0b0b;
}
@media screen and (max-width: 1200px) {
  .Nav ul li a {
    margin: 10px;
    font-size: 14px;
  }
}

@media (max-width: 950px) {
  .Nav ul {
    flex-direction: column;
  }
}
